/* TOP FIXED orange requasted sign */
.curs{
    z-index: 300;
    min-width: 100px;
    max-width: 100px;
    left: 100px;
    display: flex;
    cursor: pointer;
}
.curs img{
    position: relative;right: 10px;
}
.curs .only_requested_count{
    margin: 5px 0px 0px;
}
.bg-finished{
    background-color: #6f42c1;
}

/* SEKCIA POD NAVIGACIOU HLAVNI Ovladaci panel s moznostami*/

#role_down{
    margin-top: 56px;z-index: 200;
}
input[type=date] ,#back_date, #next_date{
    height: 38px;
}
.table thead .top_bar{
    border-bottom: 0px;
    vertical-align: top;
}
#ramp_title{
    margin-bottom: 0px;
}
#input_text{
    display: inherit;
    min-width: 80px;
}
#find_by_img_info{
    width: 10px
}
.table{
    margin-bottom: 0px;
}
/*INFO SIGN*/
#info{
    margin-top: 56px;z-index: 200;border-radius: 50px; display: none;
}
#info p{
    margin-top: 6px;
}

/*KALENDAR A ZOBRAZENIA */
#global_view{
    padding-top: 135px;
    width: auto; margin-left: -15px;margin-bottom: 0px;
    margin-right: -15px;
}
.form-group{
    min-width: 100px;
}
.text-finished{
    color: #6f42c1;
}

#main_row{
    padding-top: 5px;
    padding-bottom: 5px;
}
.table thead .days_in_calendar{
    border: 2px solid #dee2e6;
}
.table thead .last{
    border-right: 0px ;
}
tbody tr .right_border_time{
    border-right: 2px solid #dee2e6;
}
tbody tr .right_border_state{
    border-right: 2px solid #dee2e6;
    width: 200px;
}
tbody tr .right_border{
    border-right: 3px solid #dee2e6;
}

table thead .days_in_calendar_closer {
    border: 2px solid #dee2e6;
}
tbody tr .calendar_item{
    border-top: 0px  #dee2e6;
}
.table thead .right_border_last{
    border-right: 0px ;
}
.td_flex_buttons{
    display: flex;
}
th{
    text-align: center;
}
.input_date{
    margin-bottom: 5px;margin-top: 5px;margin-right: 10px;
}
#roll_down{
    display: none;
    position: absolute;
}
.form-check{
    margin-left: 5px;
}

.form-check-label{
    margin-right: 10px;
}
.table_of_customers{
    //padding-top: 126px;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
}
.table_of_customers thead th{
    width: 17%;
    text-align: revert;
}
#calendar_dates{
    display: none;
}
#find_by_th{
    vertical-align: top;
    border: 0px;
}
#close_find_by{
    position: relative;
    right: 23px;
}
.find_by_divs_and_titles{
    display: none;
    padding-top: 5px;
}

@media (min-width: 0px) {
    .table_of_customers{
        font-size: 12px;
    }
    .table{
        font-size: 12px;
    }
    #ramp_title{
        margin-left: 8% ;
        font-size: 20px;
    }

}

@media (min-width: 767px) {
    .table_of_customers{
        font-size: 15px;
    }
    .table{
        font-size: 15px;
    }
    #ramp_title{
        margin-left: 15% ;
        font-size: 25px;
    }

}

@media (min-width: 991px){
    .table_of_customers{
        font-size: 17px;
    }
    .table{
        font-size: 17px;
    }
    #ramp_title{
        margin-left: 25% ;
        font-size: 30px;
    }

}

@media (min-width: 1199px) {
    .table_of_customers{
        font-size: 20px;
    }
    .table{
        font-size: 20px;
    }
    #ramp_title{
        margin-left: 25% ;
        font-size: 35px;
    }
    #global_view{
        padding-top: 126px;
    }

}




