#kamionist2{
    display: none;
}
.buttons{
    margin-top: 20px;
}
.internal_dispatcher{
    width: 100%;
}
#top_timer_text{
    margin-bottom: 20px;
}
.selectors{
    padding-top: 22px ;
}

#incorrect_email,#incorrect{

}
#incorrect_email,#incorrect{
    display: none;
}
#change_select_company_email , #change_select_company{
    max-width: 5%;
}