#role_down{
    margin-top: 56px;z-index: 200;
}
.table{
    margin-bottom: 0px;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
input[type=date]{

    height: 38px;
}
.top_bar_date{
    font-size: 17px;
    width: 20%;
}
.form-group{
    margin: 0;
}
label{
    display: none;
}
.table thead .top_bar{
    width: 10%;
}

.table thead .D_S{
    width: 5%;
}
#direct_select{
    max-width: 5%;
}
#camera{
    max-width: 10px;
}
#chard{
    margin-top: 150px;
}