#role_down{
    margin-top: 82px;z-index: 200;
}
table th .days_in_calendar{
    font-size: xx-large;
}
tr th.calendar_item{
    text-align: center;
}
tr th.days_in_calendar_closer_last{
    font-size: 10px;
    text-align: center;
}
tr th.days_in_calendar_closer {
    text-align: center;
     font-size: 10px;
}
.table th{
    text-align: center;
}